// VARIABLES/MIXINS/MEDIAS Q ↓↓
@use 'base' as * ;

// HOME N' SHOWS STYLES ↓↓
article {
    width: 75% ;
    @include flexDisplaynAlign(space-between, center) ;
    gap: 70px ;    
    border-radius: 10px ;
    padding: 30px ;
    margin-bottom: 80px ;
    box-shadow: 2px 4px 16px $color-box-shadow ;
    background: linear-gradient(35deg, $line-gradient-dark, $line-gradient-light);
    //-- MEDIA QUERY
    @include width-1140 {
        gap: 40px ; 
        flex-direction: column ;
    }
    @include width-710 {
        width: 90% ;
    }
    @include width-470 {
        width: 100% ;
        gap: 20px ;
        padding: 20px ;
        border-radius: 20px ;
        margin-bottom: 65px ;
    }
    
    .article__info {
        @include columnDisplay ;
        width: 75% ;
        gap: 30px ;
        //-- MEDIA QUERY
        @include width-1140 {
            width: 100% ;
            order: 2 ;
        }
        @include width-470 {
            gap: 25px ;
        }

        .info__title {
            @include flexDisplaynAlign(unset, unset) ;
            font-size: 30px ;
            gap: 10px ;
            color: $color-letter ;
            //-- MEDIA QUERY
            @include width-470 {
                font-size: 26px ;
                gap: 15px ;
            }
            @include width-375 {
                font-size: 24px ;
                align-items: center ;
            }
            
            .title__year {
                color: $color-letter ;
            }
        }
        .info__para {
            color: $color-letter ;
            line-height: 1.5 ;
            //-- MEDIA QUERY
            @include width-470 {
                font-size: 14px ;
            }
        }
        .info__characters {
            display: flex ;
            gap: 30px ;
            //-- MEDIA QUERY
            @include width-595 {
                gap: 10px ;
                justify-content: space-between ;
            }
            .characters__character {
                @include columnDisplay ;
                width: 120px ;
                display: flex ;
                flex-direction: column ;
                width: 150px ;
                //-- MEDIA QUERY
                @include width-595 {
                    width: 130px ;
                }
                .character__image {
                    width: 100% ;
                    border-radius: 10px 10px 0 0 ;
                }
                .character__name {
                    @include flexDisplaynAlign(center, center) ;
                    height: 100% ;
                    text-align: center ;
                    padding: 10px 0 ;
                    color: $color-letter ;
                    background: transparent ;
                    border-right: 2px solid $color-letter ;
                    border-left: 2px solid $color-letter ;
                    border-bottom: 2px solid $color-letter ;
                    border-radius: 0 0 5px 5px;
                    padding: 15px 5px;
                    //-- MEDIA QUERY
                    @include width-595 {
                        display: flex ;
                        align-items: center ;
                        justify-content: center ;
                        height: 100% ;
                    }
                    @include width-470 {
                        font-size: 14px ;
                    }
                }
            }
        }
    }
    .article__image {
        width: 35% ;
        //-- MEDIA QUERY
        @include width-1140 {
            width: 80% ;
            order: 1 ;
        }
        img {
            width: 100% ;
            border-radius: 5px ;
        }
    }
}