// VARIABLES ↓↓
$color-letter: #fff ;
$color-box-shadow: #333 ;
$color-plus-symbol: #edaeff ;

$line-gradient-dark: #192444 ;
$line-gradient-light: #f5d7ff ;
$background-container: #ffecff ;
$background-h2: #5d466c ;
